* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Contenedor intro */
.Contenedor_Intro {
  display: flex;
  flex-direction: column;
}

/* Primera pagina */
.intro1 {
  background-color: black;
  width: 1920px;
  height: 969px;
}

/* Segunda pagina */
.intro2 {
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
  width: 1920px;
  height: 969px;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

/* Paletas de colores */
.Paleta1, .Paleta2 {
  position: absolute; /* Asegúrate de que sean absolutas */
  left: 0; /* Fija a la izquierda */
  top: 0; /* Ajusta según necesites */
}

/* Franja blanca que se desplaza */
.white-overlay {
  background-color: white;
  position: absolute;
  width: 960px; /* Ancho ajustado para cubrir la mitad de la pantalla */
  height: 969px; /* Altura completa de la página */
  opacity: 0.5; /* Marca de agua para la paleta de colores */
  z-index: 2; /* Afecta solo la paleta de colores */
  left: 50%; /* Comienza en el centro */
}

/* Contenido segunda pagina */
.mujerbolso {
  position: absolute;
  width: 327px;
  height: 582px;
  left: 217px;
  top: 179px;
}

.mujerbolsos {
  position: absolute;
  width: 271px;
  height: 480px;
  left: 579px;
  top: 218px;
}

.mujervaso {
  position: absolute;
  width: 271px;
  height: 484px;
  left: 866px;
  top: 267px;
}

.mujerbolsoblanco {
  position: absolute;
  width: 275px;
  height: 489px;
  left: 1153px;
  top: 217px;
}

/* Tercera pagina */
.intro3 {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 1920px;
  height: 969px;
  position: relative;
  overflow: hidden;
}

/* Contenido tercera pagina */
.mujerbolso2 {
  position: absolute;
  width: 327px;
  height: 582px;
  left: 217px;
  top: 179px;
  opacity: 0.2;
}

.mujerbolsos2 {
  position: absolute;
  width: 271px;
  height: 480px;
  left: 579px;
  top: 218px;
  opacity: 0.2;
}

.Mujerjoven2 {
  position: absolute;
  width: 1423px;
  height: 1423px;
  left: 302px;
  top: 242px; 
}

.mujervaso2 {
  position: absolute;
  width: 271px;
  height: 484px;
  left: 1134px;
  top: 267px;
  opacity: 0.2;
}

.mujerbolsoblanco2 {
  position: absolute;
  width: 275px;
  height: 489px;
  left: 1421px;
  top: 217px;
  opacity: 0.2;
}

/* Cuarta pagina */
.intro4 {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: aliceblue;
  width: 1920px;
  height: 969px;
  justify-content: space-between;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 78px;
  text-align: center;
}

.Mujergafas {
  position: relative;
  width: 619px;
  height: 803px;
  left: 1285px;
  bottom: 250px;
}